<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Micah's World</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="theme-neon-space">
    <header>
      <%= render "shared/projects_nav" %>
    </header>

    <main>
      <h1 class="primary-heading">Micah's</h1>

      <article id="content">
        <%= yield %>
      </article>
    </main>

    <footer>
      <%= render "shared/personal_nav" %>
    </footer>
  </body>
</html>
